@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	overflow-x: hidden;

	body {
		font-family: 'GmarketSansMedium';
		text-underline-position: under;

		padding-bottom: 1000px; //임시
	}
}

$site-width: 1080px;

/* 라이브러리 */
.con-min-width {
	min-width: $site-width;
}
.con {
	width: $site-width;
}

/* 커스텀 */

/* 헤더 */
.top-bar {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	.logo {
		background-image: url('https://www.kakaobank.com/static/images/web/logo_black.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 116px 20px;
	}
}

@mixin outlink-icon() {
	content: '';
	display: inline-block;
	background-image: url(https://www.kakaobank.com/static/images/web/svg_line_outlink.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 14px 14px;
	width: 20px;
	height: 20px;
	transform: translateY(6px) translateX(3px);
}

.top-bar__menu1 {
	margin-left: auto;

	.icon-on {
		&::after {
			@include outlink-icon;
		}

		&.ver2::after {
			background-size: 20px 20px;
			transform: translateY(4px) translateX(6px);
		}
	}

	@mixin hoverUnderline {
		&:hover {
			> a {
				text-decoration: underline;
				&::after {
					display: block;
				}
			}

			.mega-menu {
				display: block;
			}
		}
	}

	// 1차메뉴
	.depth1 {
		> li {
			padding: 0 25px;

			@include hoverUnderline;

			> a {
				display: flex;
				position: relative;
				height: 100%;
				align-items: center;
				padding: 0 10px;

				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background-color: #000;
					display: none;
				}
			}
		}
	}

	@mixin depth-text($text-color: #000, $font-size: 1rem) {
		display: block;
		font-size: $font-size;
		text-align: center;
		color: $text-color;
	}

	// 2차메뉴
	.depth2 {
		margin: 70px 0;

		> li {
			@include hoverUnderline;
			> a {
				@include depth-text($font-size: 17px);
				margin-bottom: 10px;
				display: flex;
				align-items: baseline;
				justify-content: center;
			}
		}
	}

	// 3차메뉴
	.depth3 {
		> li {
			@include hoverUnderline;
			> a {
				@include depth-text(#444, 13px);
				padding: 12px 0;
				display: flex;
				align-items: baseline;
				justify-content: center;
			}
		}
	}

	// 메가메뉴
	.mega-menu {
		display: none;
		position: absolute;
		left: 0;
		z-index: 10;
		width: 100%;
		min-height: 400px;
		background-color: #fff;
		box-shadow: 0 12px 14px rgba(0, 0, 0, 0.12);
	}
}

// 드롭다운메뉴
.drop-down-box {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.drop-down-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 100%;
		line-height: initial;
		padding: 8px 20px;
		background-color: rgba(244, 244, 244, 0.8);
		color: rgba(68, 68, 68, 1);
		border: 1px solid rgba(229, 229, 229, 0.8);
		border-radius: 40px;
		gap: 10px;

		.icon-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 15px;
			height: 15px;
			background-image: url('https://www.kakaobank.com/static/images/web/svg_line_arrow_down.svg');
			background-repeat: no-repeat;
			transition: transform 0.5s;
		}

		&.active .icon-wrapper {
			transform: rotate(180deg) translateY(3px);
		}

		&.active + .drop-down-menu {
			opacity: 1;
			transform: translateX(-50%) translateY(0px);
		}
	}

	.drop-down-menu {
		position: absolute;
		left: 50%;
		top: 115%;
		transform: translateX(-50%) translateY(10px);
		width: 240px;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
		z-index: 10;
		transition: all 0.5s;
		opacity: 0;

		li {
			&:hover > a {
				background-color: rgba(244, 244, 244, 0.8);
			}
			a {
				display: flex;
				align-items: center;
				padding: 18px 24px;
				font-size: 13px;

				&::after {
					@include outlink-icon;
					transform: translateY(-1px) translateX(5px);
				}
			}
		}
	}
}

// 언어변경
.change-lang-box {
	margin-left: 23px;

	.change-lang-icon {
		display: inline-block;
		width: 24px;
		height: 24px;
		background-image: url(https://www.kakaobank.com/static/images/web/icon_eng.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: opacity 0.2s;

		&:hover {
			opacity: 0.5;
		}
	}
}

/* 메인배너 */

.main-banner-box {
	.banner-con {
		position: relative;
	}
	.banner-main-content {
		position: relative;
		max-width: 1200px;
		height: 884px;
		background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-bg3.png);
		background-repeat: no-repeat;
		background-size: contain;

		.text-box {
			position: absolute;
			top: 140px;
			left: 80px;

			.main-title {
				font-size: 3rem;
				font-weight: bold;
			}

			p[class^='sub'] {
				font-size: 1rem;
				opacity: 0.7;
				line-height: 30px;
			}

			.link-store {
				padding-top: 16px;
				li {
					&:hover {
						.store-text {
							text-decoration: underline;
						}
					}
					a {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 170px;
						height: 50px;
						font-weight: bold;
						background-color: #fff;
						border-radius: 10px;

						.store-icon {
							display: inline-block;
							background-image: url(https://www.kakaobank.com/static/images/web/img_kabang_220615.png);
							background-repeat: no-repeat;
							width: 24px;
							height: 24px;
							margin: -2px 10px 0 0;

							&.google-play {
								background-position: -341px -292px;
							}

							&.app-store {
								background-position: -371px -292px;
							}
						}
					}
				}
			}
		}
	}

	.background {
		position: absolute;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 720px;
		background-color: #ffef6b;
	}
}

/* 배너 공통 디자인 */
@mixin banner-con() {
	display: flex;
	height: 100%;

	// 임시
	& {
		> div {
			position: relative;

			&:first-child {
				width: 55%;
				// background-color: red;
			}

			&:last-child {
				width: 45%;
				// background-color: blue;
			}
		}
	}
}

@mixin cont-img($left: auto, $width: auto, $height: auto) {
	position: absolute;
	top: 50%;
	left: $left;
	transform: translateY(-50%);
	img {
		width: $width;
		height: $height;
	}
}

@mixin cont-text() {
	h3 {
		font-size: 40px;
		font-weight: bold;
	}

	p {
		margin-top: 24px;
		color: #666;
	}
}

@mixin banner-btn($width: 258px, $height: 56px) {
	display: flex;
	align-items: center;
	justify-content: center;
	width: $width;
	height: $height;
	background-color: #f6f6f6;
	color: #333;
	border-radius: 10px;
	gap: 0 8px;

	&:hover .cont-btn-text {
		text-decoration: underline;
	}

	.cont-btn-img {
		img {
			width: 6px;
			height: 9px;
			margin-bottom: 4.5px;
		}
	}
}

.banner-content-type {
	width: 100%;
	height: 720px;

	> .con {
		@include banner-con;
	}
}

.banner-content-between-pad {
	height: 32px;
	background-color: #fafafa;
}

/* 배너 1 ~ 5 */
// 배너 1
.banner-content-type-1 {
	.cont-img {
		@include cont-img($left: 10px, $width: 473px);
	}

	.cont-box {
		position: absolute;
		top: 50%;
		left: 50px;
		transform: translateY(-50%);
		.cont-text {
			@include cont-text;
		}

		.cont-btn {
			margin-top: 30px;
			a {
				@include banner-btn;
			}
		}
	}
}

// 배너 2
.banner-content-type-2 {
	.cont-img {
		@include cont-img($left: 50px, $width: 409px, $height: 722px);
		opacity: 0;
		transform: translate(25%, -50%);
		transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s;
		&.active {
			opacity: 1;
			transform: translate(0, -50%);
		}
	}

	.cont-box {
		position: absolute;
		top: 50%;
		left: 50px;
		transform: translateY(-50%);
		.cont-text {
			@include cont-text;
		}

		.cont-btn {
			margin-top: 30px;
			a {
				@include banner-btn($width: 158px);
			}
		}

		.cont-sub-img img {
			width: 440px;
		}
	}
}

// 배너 3
.banner-content-type-3 {
	.cont-img {
		@include cont-img($left: 20px, $width: 459px, $height: 607px);
	}

	.cont-box {
		position: absolute;
		left: 40px;
		top: 50%;
		transform: translateY(-50%);
		.cont-text {
			@include cont-text;
		}

		.cont-btn {
			margin-top: 30px;
			a {
				@include banner-btn;
			}
		}
	}
}

// 배너 4
.banner-content-type-4 {
	.cont-img {
		@include cont-img($left: -10px, $width: 492px, $height: 408px);
	}

	.cont-box {
		position: absolute;
		top: 50%;
		left: 80px;
		transform: translateY(-50%);
		.cont-text {
			@include cont-text;
		}

		.cont-btn {
			margin-top: 30px;
			a {
				@include banner-btn;
			}
		}
	}
}

// 배너 5
.banner-content-type-5 {
	background: url(https://www.kakaobank.com/static/images/web/home_map.png) no-repeat -12% 50%;
	.cont-img {
		@include cont-img($left: 20px, $width: 408px, $height: 715px);
		opacity: 0;
		transform: translateY(-25%);
		transition: opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s;

		&.active {
			opacity: 1;
			transform: translateY(-50%);
		}
	}

	.cont-box {
		position: absolute;
		top: 50%;
		left: 44px;
		transform: translateY(-50%);
		.cont-text {
			@include cont-text;
		}

		.cont-btn {
			margin-top: 30px;
			a {
				@include banner-btn;
			}
		}
	}
}

.loan-box {
	position: relative;
	color: #fff;

	.con {
		position: relative;
		z-index: 1;
	}

	&.active .blue {
		height: 0 !important;
	}

	.sky {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #333b58;

		.blue {
			@extend .sky;
			background-color: #559cde;
			transition: height 0.5s;
			transition-delay: 2s;
		}
	}
}
