@charset "UTF-8";
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

/* 라이브러리 */
.con-min-width {
  min-width: 1080px;
}

.con {
  width: 1080px;
}

/* 커스텀 */
/* 헤더 */
.top-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.top-bar .logo {
  background-image: url("https://www.kakaobank.com/static/images/web/logo_black.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 116px 20px;
}

.top-bar__menu1 {
  margin-left: auto;
}
.top-bar__menu1 .icon-on::after {
  content: "";
  display: inline-block;
  background-image: url(https://www.kakaobank.com/static/images/web/svg_line_outlink.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  width: 20px;
  height: 20px;
  transform: translateY(6px) translateX(3px);
}
.top-bar__menu1 .icon-on.ver2::after {
  background-size: 20px 20px;
  transform: translateY(4px) translateX(6px);
}
.top-bar__menu1 .depth1 > li {
  padding: 0 25px;
}
.top-bar__menu1 .depth1 > li:hover > a {
  text-decoration: underline;
}
.top-bar__menu1 .depth1 > li:hover > a::after {
  display: block;
}
.top-bar__menu1 .depth1 > li:hover .mega-menu {
  display: block;
}
.top-bar__menu1 .depth1 > li > a {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  padding: 0 10px;
}
.top-bar__menu1 .depth1 > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  display: none;
}
.top-bar__menu1 .depth2 {
  margin: 70px 0;
}
.top-bar__menu1 .depth2 > li:hover > a {
  text-decoration: underline;
}
.top-bar__menu1 .depth2 > li:hover > a::after {
  display: block;
}
.top-bar__menu1 .depth2 > li:hover .mega-menu {
  display: block;
}
.top-bar__menu1 .depth2 > li > a {
  display: block;
  font-size: 17px;
  text-align: center;
  color: #000;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.top-bar__menu1 .depth3 > li:hover > a {
  text-decoration: underline;
}
.top-bar__menu1 .depth3 > li:hover > a::after {
  display: block;
}
.top-bar__menu1 .depth3 > li:hover .mega-menu {
  display: block;
}
.top-bar__menu1 .depth3 > li > a {
  display: block;
  font-size: 13px;
  text-align: center;
  color: #444;
  padding: 12px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.top-bar__menu1 .mega-menu {
  display: none;
  position: absolute;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 400px;
  background-color: #fff;
  box-shadow: 0 12px 14px rgba(0, 0, 0, 0.12);
}

.drop-down-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.drop-down-box .drop-down-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  line-height: initial;
  padding: 8px 20px;
  background-color: rgba(244, 244, 244, 0.8);
  color: rgb(68, 68, 68);
  border: 1px solid rgba(229, 229, 229, 0.8);
  border-radius: 40px;
  gap: 10px;
}
.drop-down-box .drop-down-btn .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-image: url("https://www.kakaobank.com/static/images/web/svg_line_arrow_down.svg");
  background-repeat: no-repeat;
  transition: transform 0.5s;
}
.drop-down-box .drop-down-btn.active .icon-wrapper {
  transform: rotate(180deg) translateY(3px);
}
.drop-down-box .drop-down-btn.active + .drop-down-menu {
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
}
.drop-down-box .drop-down-menu {
  position: absolute;
  left: 50%;
  top: 115%;
  transform: translateX(-50%) translateY(10px);
  width: 240px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  z-index: 10;
  transition: all 0.5s;
  opacity: 0;
}
.drop-down-box .drop-down-menu li:hover > a {
  background-color: rgba(244, 244, 244, 0.8);
}
.drop-down-box .drop-down-menu li a {
  display: flex;
  align-items: center;
  padding: 18px 24px;
  font-size: 13px;
}
.drop-down-box .drop-down-menu li a::after {
  content: "";
  display: inline-block;
  background-image: url(https://www.kakaobank.com/static/images/web/svg_line_outlink.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
  width: 20px;
  height: 20px;
  transform: translateY(6px) translateX(3px);
  transform: translateY(-1px) translateX(5px);
}

.change-lang-box {
  margin-left: 23px;
}
.change-lang-box .change-lang-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(https://www.kakaobank.com/static/images/web/icon_eng.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.2s;
}
.change-lang-box .change-lang-icon:hover {
  opacity: 0.5;
}

/* 메인배너 */
.main-banner-box .banner-con {
  position: relative;
}
.main-banner-box .banner-main-content {
  position: relative;
  max-width: 1200px;
  height: 884px;
  background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-bg3.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.main-banner-box .banner-main-content .text-box {
  position: absolute;
  top: 140px;
  left: 80px;
}
.main-banner-box .banner-main-content .text-box .main-title {
  font-size: 3rem;
  font-weight: bold;
}
.main-banner-box .banner-main-content .text-box p[class^=sub] {
  font-size: 1rem;
  opacity: 0.7;
  line-height: 30px;
}
.main-banner-box .banner-main-content .text-box .link-store {
  padding-top: 16px;
}
.main-banner-box .banner-main-content .text-box .link-store li:hover .store-text {
  text-decoration: underline;
}
.main-banner-box .banner-main-content .text-box .link-store li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 50px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 10px;
}
.main-banner-box .banner-main-content .text-box .link-store li a .store-icon {
  display: inline-block;
  background-image: url(https://www.kakaobank.com/static/images/web/img_kabang_220615.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin: -2px 10px 0 0;
}
.main-banner-box .banner-main-content .text-box .link-store li a .store-icon.google-play {
  background-position: -341px -292px;
}
.main-banner-box .banner-main-content .text-box .link-store li a .store-icon.app-store {
  background-position: -371px -292px;
}
.main-banner-box .background {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 720px;
  background-color: #ffef6b;
}

/* 배너 공통 디자인 */
.banner-content-type {
  width: 100%;
  height: 720px;
}
.banner-content-type > .con {
  display: flex;
  height: 100%;
}
.banner-content-type > .con > div {
  position: relative;
}
.banner-content-type > .con > div:first-child {
  width: 55%;
}
.banner-content-type > .con > div:last-child {
  width: 45%;
}

.banner-content-between-pad {
  height: 32px;
  background-color: #fafafa;
}

/* 배너 1 ~ 5 */
.banner-content-type-1 .cont-img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.banner-content-type-1 .cont-img img {
  width: 473px;
}
.banner-content-type-1 .cont-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.banner-content-type-1 .cont-box .cont-text h3 {
  font-size: 40px;
  font-weight: bold;
}
.banner-content-type-1 .cont-box .cont-text p {
  margin-top: 24px;
  color: #666;
}
.banner-content-type-1 .cont-box .cont-btn {
  margin-top: 30px;
}
.banner-content-type-1 .cont-box .cont-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258px;
  height: 56px;
  background-color: #f6f6f6;
  color: #333;
  border-radius: 10px;
  gap: 0 8px;
}
.banner-content-type-1 .cont-box .cont-btn a:hover .cont-btn-text {
  text-decoration: underline;
}
.banner-content-type-1 .cont-box .cont-btn a .cont-btn-img img {
  width: 6px;
  height: 9px;
  margin-bottom: 4.5px;
}

.banner-content-type-2 .cont-img {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
}
.banner-content-type-2 .cont-img img {
  width: 409px;
  height: 722px;
}
.banner-content-type-2 .cont-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.banner-content-type-2 .cont-box .cont-text h3 {
  font-size: 40px;
  font-weight: bold;
}
.banner-content-type-2 .cont-box .cont-text p {
  margin-top: 24px;
  color: #666;
}
.banner-content-type-2 .cont-box .cont-btn {
  margin-top: 30px;
}
.banner-content-type-2 .cont-box .cont-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 56px;
  background-color: #f6f6f6;
  color: #333;
  border-radius: 10px;
  gap: 0 8px;
}
.banner-content-type-2 .cont-box .cont-btn a:hover .cont-btn-text {
  text-decoration: underline;
}
.banner-content-type-2 .cont-box .cont-btn a .cont-btn-img img {
  width: 6px;
  height: 9px;
  margin-bottom: 4.5px;
}
.banner-content-type-2 .cont-box .cont-sub-img img {
  width: 440px;
}

/*# sourceMappingURL=style.css.map */
